// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "slick";
  src: font-url('slick-carousel/slick/fonts/slick.eot');
  src: font-url('slick-carousel/slick/fonts/slick.eot?#iefix') format('embedded-opentype'),
       font-url('slick-carousel/slick/fonts/slick.woff') format('woff'),
       font-url('slick-carousel/slick/fonts/slick.ttf') format('truetype')
}
// $my-font: "Font Name";
