<footer id="footer">
  <div class="d-flex justify-content-between px-3 align-items-end">
    <div>
      <p>Meios de pagamento</p>
      <div>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-cc-paypal"></i>
      </div>
    </div>
    <div>
      <p>Nos siga nas redes socias</p>
      <div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <a href="#" class="btn-chat">Chat</a>
  </div>
  <p>Made with ♥ by Felipe Arakaki, Monique Marinho e Isabela Porto</p>
</footer>
