<footer>
  <div class="d-flex justify-content-between px-3 align-items-end">
    <div>
      <h3>Ketinhos</h3>
      <p>Made with ♥ by Felipe Arakaki, Monique Marinho e Isabela Porto</p>
    </div>
    <div>
      <h3>Meios de pagamento</h3>
      <div>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-cc-paypal"></i>
      </div>
    </div>
    <div>
      <h3>Nos siga nas redes socias</h3>
      <div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <a href="#" class="btn-chat">Chat</a>
  </div>
</footer>
