<footer id="footer">
  <div class="site-name">
    <i class="fas fa-paw"></i>
    <h3>Ketinhos</h3>
  </div>
  <div class="footer-info">
    <div class="payment-forms">
      <h4>Payment options</h4>
      <div>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-cc-paypal"></i>
      </div>
    </div>
    <div class="social-medias">
      <h4>Follow us</h4>
      <div>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
<div class="footer-credits">
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> for Felipe Arakaki, Isabela Porto and Monique Marinho
  </div>
</div>
