<button class="btn btn-green">loggin</button>
<button class="btn-venda_conosco">Venda Conosco</button>
<button class="btn-ongs">Ong's</button>
<button class="btn-buscar">Buscar</button>
<button class=“btn-venda_conosco”><i class="fas fa-dog"></i>Compre Aqui</button>
<button><i class="fas fa-cat">Gato</i></button>
