<h1>My purchased products: </h1>
<p><% @products_buy.each do |product| %></p>
  <br>
  <br>
  <p>Product: <%= product.name %></p>
  <p>Price: $<%= product.price %></p>

  <br>
  <br>
<p><% end %></p>

