<h1>My announced products: </h1>
<p><% @products_sell.each do |product| %></p>
  <br>
  <br>
  <p>Product: <%= product.name %></p>
  <p>Price: $<%= product.price %></p>
  <p>Avaiable: <%= product.avaiable %></p>
  <p>User id: <%= product.user_id %></p>
  <%#= link_to "Update",
  edit_product_path(product_id: product.id) %>
  <br>
  <br>
<p><% end %></p>
