.btn{
  font-family: helvetica;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  border-radius: 3px;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}
.btn-green{
  background:#00818A;
  color:#fff;
}
.btn-green:hover{
  background:#3C9D9B;
  color:#fff;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}
.btn-green:active{
  position:relative;
  top:5px;
  box-shadow: none
}
.btn-light-green{
  font-family: sans-serif;
  font-size: 24px;
  border: 1px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: darkseagreen;
  border-radius: 3px;
  text-align: center;
  color: #4F8A8B;

  &:hover {
    color: rgba(79, 138, 139, 0.76);
    text-decoration: none;
  }
}
.btn-buscar {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-chat{
  color: black;
  background: #b1b493;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-category {
  img {
    width: 90px;
  }
}




