.btn{
  font-family: helvetica;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
}
.btn-green{
  background:#00818A;
  color:#fff;
box-shadow:0 5px 0 #3C9D9B;
}
.btn-green:hover{
  background:#3C9D9B;
  color:#fff;
box-shadow:0 5px 0 #3C9D9B;
}
.btn-green:active{
  position:relative;
  top:5px;
box-shadow: none
}
.btn-venda_conosco{
  font-family: sans-serif;
  font-size:14px;
  border:1px;
  padding:10px;
  cursor: pointer;
  background-color:darkseagreen;
  border-radius: 3px;
}
.btn-buscar {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
color: #fff;
cursor: pointer;
// display: block;
font-size:16px;
font-weight: 400;
line-height: 45px;
margin: 0 0 2em;
max-width: 160px;
position: relative;
text-decoration: none;
text-transform: uppercase;
width: 100%;
}

.btn-cachorro{

}






