.slick-dots {
  bottom: 0 !important;
  margin-bottom: 10px !important;
}
.slick-next {
  right: 10px !important;
}
.slick-prev {
  left: 10px !important;
  z-index: 2 !important;
}
.slick-slide {
  margin: 0 15px !important;
}