.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-product {
  position: relative;
  overflow: hidden;
  background-color: #969696;
  border-radius: 5px;
  height: 300px;
  color: black;
  padding: 0;
  .avatar {
    width: 50px;
  }
  .product-img-card {
    width: 300px;
    position: absolute;
    filter: brightness(0.8);
    transition: 0.3s;
    &:hover {
      filter: brightness(1);
    }
  }
  .price {
    background-color:  rgba(163, 247, 191, 0.9);
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    p {
      margin: 0;
    }
  }
  .nav-card {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 2;
    background-color: rgba(163, 247, 191, 0.9);
    width: 100%;
    p {
      margin: 0;
    }
    .from {
      font-size: 14px;
    }
    .product-name-card {
      font-size: 24px;
    }
    em.username {
      font-style: normal;
      font-size: 18px;
    }
  }
}

.card-show {
  margin: 0 auto;
  background: rgba(255, 203, 116, 0.7);
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  .product-img-show {
    margin: 15px;
  }
  .purchase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0;
  }
  .show-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .details-product-show {
    display: flex;
    justify-content: space-between;
  }
  .payment {
    font-size: 24px;
    color: #4F8A8B;
  }
  .delivery-show {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 10px;
    }
  }
  .seller {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 10px;
    }
    .avatar-seller {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.card-desc {
  margin: 0 auto;
  background: rgba(255, 203, 116, 0.7);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-item {
  overflow: hidden;
  border-radius: 4px;
  height: 8rem;
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-item img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-item .card-item-infos {
  padding: 16px;
}
