
#footer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  bottom: 0;
  margin-bottom: 4rem;
  background-color: #f5b971;
  i {
    font-size: 24px;
  }
  .footer-info {
    display: flex;
    position: absolute;
    right: 0;
  }
}
.site-name {
  margin: 0 10px;
  display: flex;
  align-items: center;
  h3 {
    margin: 0 5px;
  }
}
.footer-info > div {
  margin: 0 20px;
}
.payment-forms {
  text-align: center;
}
.social-medias {
  text-align: center;
  a {
    color: #f7f7f7;
    transition: 0.3s;
    &:hover {
      color: #f7f7f7;
    }
  }
}
.footer-credits {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  width: 100%;
  background: #f6cd61;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0px 10px;
  color: rgba(0,0,0,0.5);
}
