.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  background: #fdd365;
  top: 0;
  z-index: 1000;
  width: 100%;
  flex-grow: 0;
}
.avatar {
  transition: 0.3s;
  &:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
}

.domain {
  display: flex;
  align-items: center;
}
.perfil {
  width: 60px;
  height: 60px;
}
.box-search {
  flex-grow: 1;
  margin: 0 15px;
  max-width: 800px;
  position: relative;
}
.form-search-nav {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fc8210;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-search {
  position: absolute;
  right: 60px;
  display: block;
}

.title {
  color:#f4a548;
  font-family: 'Architects Daughter', cursive;
}

.nav-options {
  width: 100%;
  background-color: #61d4b3;
  height: 3rem;
  display: flex;
  i {
    font-size: 2rem;
    margin: 0 10px;
  }
}

.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    z-index: 99999;
  }
}
.menu > li > a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.menu ul {
  background: #ddd;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .3s ease;
  top: 35px;
  width: 100%;
}

.menu li:hover ul {
  height: 250px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  color: #000;
  width: 100%;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}
.menu .options {
  z-index: 2000;
}