.navbar-lewagon {
  justify-content: space-between;

  background: #cee397;

  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.perfil {
  width: 60px;
  height: 60px;

}
.navbar-perfil {
  margin-bottom: 85px;


}
.title{
  color:#698474;
  font-family: 'Architects Daughter', cursive;
}
